@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
#title-text-display{
    font-family: "Kosugi Maru","Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 20;
    color: rgb(235, 235, 235);
    margin-right:50%;
}
#header{
    background-color:#707070;
    display:flex;
    flex-direction: row; 
    align-content: center;
    align-items: center;
    justify-content: center;
}


th{
    font-family: "Kosugi Maru", Tahoma, Geneva, Verdana, sans-serif;
}
td{
    font-family: "Kosugi Maru", Tahoma, Geneva, Verdana, sans-serif;
}
#back-button{
    /* padding-top:3%;
    padding-left:2%; */
    width:50%;
}
#title{
    width:100%;
    height:40%;
    text-align:center;
    justify-self: center;
    font-family: "Kosugi Maru";
}

  
#container{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
}
p{
    font-family: "Kosugi Maru", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: #707070;
    font-weight: 20;
    padding: 3%;
    color:rgb(50, 50, 50);
    margin-bottom: 0.5em;
}
#bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}
span{
    color: #ff2f2f;
}