@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
#title-text-list{
    font-family: "Kosugi Maru","Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 20;
    color: rgb(235, 235, 235);
    background-color: #707070;
}
table{
    background-color: #e9e9e9;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table tr{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  table tr:hover{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #d4f0fd;
  }
  
  table th,table td{
    font-family:"Kosugi Maru";
    text-align: center;
    width: 25%;
    padding: 15px;
  }
  button{
    font-family:"Kosugi Maru";
    text-align: center;
    width: "40%";
    padding: 15px;
  }

#container_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #707070;
}

#header_list{
    background-color:#707070;
    display:flex;
    flex-direction: row; 
    align-content: center;
    align-items: center;
    justify-content: center;
}

#search-title{
    font-family: "Kosugi Maru";
    color: #707070;
    font-size: 20px;
}
#search-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color:  rgb(236, 236, 236);
}